*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -- Estilos de LETRA -- */
.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 300;
  font-style: normal;
}

.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


/* --text-shadow: 0.5px 0.5px 2px rgb(225 225 225), -0.5px -0.5px 2px rgb(225 225 225), 0.5px 0.5px 2px rgb(225 225 225), -0.5px -0.5px 2px rgb(225 225 225); -- */

#cabeza {
    display: flex;
    flex-direction: row;
    background-color: #fefefe;
    box-shadow: 5px 2px 8px 1px #003273;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding-left: 30px;
}

#cajaLogo {
    width: 20px;
    height: 100px;
}

#cajaLogo img {
  filter: contrast(50%);
}

#textoLogo {
    width: 50px;
    height: 100px;
    padding-left: 100px;
    text-align: center;
  align-items: center
}

#textoL1 {
    color: #003273;
    font-size: 40px;    
}

#textoL2 {
    color: #023e73;
    font-size: 18px;
}

#menu {
  background-color: #fefefe;
  height: 100px;
  width: 100%;
  margin-left: 200px;
  text-align: center;
  align-items: center;
}

#menu li {
  color: #88bf78;
  list-style: none;
  display: inline-block;
  padding: 2%;
}

#menu li a {
  text-decoration: none;
  color: #003273;
  font-size: 18px;
}